{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block title %}Buskeet | A propos{% endblock %}
{% block body %}
<div class="container">
    <div class="clzk-home-container">
        <h1 class="text-left text-cyan">A propos de Buskeet</h1>

        <p class="text-justify">
            Fondée en août 2014 et basée à Bordeaux, en France, Buskeet est une plateforme communautaire gratuite qui met en relation des musiciens désireux de faire de nouvelles rencontres autour de leur passion.
        </p>
        <p class="text-justify">
            Qu'il s'agisse de rencontre durable, débouchant sur la naissance d'un groupe, ou d'une rencontre éphémère dans un lieu donné dans le but de partager un moment de convivialité autour d'une séance d'improvisation, Buskeet vous en offre la possibilité.
        </p>

        <p class="text-justify">
            La plateforme Buskeet est actuellement en cours de développement. Elle est réalisée par une seule personne, à la fois passionnée de technologie, et amatrice de musique. Elle est donc pensée par un musicien, pour des musiciens.
        </p>

        <h1 class="text-cyan">Mentions légales</h1>

        <p class="text-justify">
            En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs de Buskeet l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :<br>
            <strong>Propriétaire</strong> : Joel Lauret – Auto-entrepreneur – Mérignac, France<br />
            <strong>Créateur</strong>  : Joel Lauret<br />
            <strong>Webmaster</strong> : Joel Lauret – contact(at)buskeet.com<br />
            <strong>Hébergeur</strong> : OVH – 2 rue Kellermann, 59100 Roubaix, France.<br />
        </p>
        <p class="text-justify">
            <small>Crédits : les mentions légales ont étés générées et offertes par Subdelirium <a target="_blank" href="http://www.subdelirium.com/agence-web/agence-web-charente/agence-web-angouleme/" alt="agence web angouleme">agence web Angoulême</a></small>
        </p>
    </div>
</div>
{% endblock %}