{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block body %}

<div class="container">
	<h1 class="text-left text-cyan">A propos de Buskeet</h1>

	<p class="text-left">
		Fondée en aout 2014 et basé à Bordeaux, en France, Buskeet est une plate-forme communautaire gratuite qui permet de mettre en relation des musiciens désireux de faire de nouvelles rencontres autour de leur passion.
	</p>
	<p class="text-left">
		Qu'il s'agisse de rencontre durable, débouchant sur la naissance d'un groupe, ou d'une rencontre éphémère dans un lieu donné dans le but de partager un moment de convivialité autour d'une séance d'improvisation, Buskeet vous en offre la possibilité.
	</p>

	<p class="text-left">
		La plate-forme Buskeet est actuellement en cours de développement. Elle est réalisée par une seule personne, à la fois passionné de technologie, et amateur de musique. Elle est donc pensée par un musicien, pour des musiciens.
	</p>

	<p class="text-left">
		Toutefois, vos critiques et remarques sont les bienvenues. C'est pour cela que vous disposez d'un formulaire de contact qui vous permettra de vous exprimer, et pourquoi pas, aider Buskeet à devenir plus grand.
	</p>
</div>
{% endblock %}