{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block title %}Buskeet | CGU{% endblock %}
{% block body %}
<div class="container">
    <div class="clzk-home-container">
        <h1 class="text-justify text-cyan">Conditions Générales d'Utilisation</h1>

        <p class="text-justify">
            Buskeet est une plateforme communautaire gratuite permettant à ses membres de créer une page personnelle et unique afin de se promouvoir, de rechercher d'autres musiciens, de communiquer avec eux et de proposer des évènements ponctuels autour du thème de la musique.
        </p>

        <p class="text-justify">
            Les services proposés par Buskeet sont accessibles via Internet, depuis un terminal fixe, ou d'un mobile (à venir) disposant d'un navigateur internet. Seuls les membres inscrits sur Buskeet peuvent accéder aux fonctionnalités proposées.
        </p>

        <p class="text-justify">
            Buskeet est hébergée en France et les responsables peuvent être contactés à tout moment à l'adresse : contact(at)buskeet.com.
        </p>

        <p class="text-justify">
            En utilisant Buskeet, vous vous engagez à respecter les présentes Conditions Générales d'Utilisation. En s'inscrivant sur le site, l'utilisateur reconnait qu'il est pleinement informé et qu’il est tenu par l’ensemble des dispositions des présentes Conditions Générales d’Utilisation. Ces Conditions Générales d'Utilisation sont soumises à des modifications qui peuvent survenir à tout moment. Toute modification entrera alors en vigueur dès sa publication sur Buskeet. Par conséquent, il est important de lire régulièrement les présentes conditions.
        </p>

        <p class="text-justify">
            Si vous n'êtes pas d'accord avec ces Conditions Générales d'Utilisation, vous devez cesser d'utiliser Buskeet.
        </p>


        <h3 class="text-cyan">1. Inscription</h3>
        <p class="text-justify">
            L'inscription et l'utilisation de Buskeet en tant que membre sont considérées comme nulles et non avenues si elles sont réalisées en violation des présentes conditions.
            <br>
            Lors de votre inscription, Buskeet vous demande de choisir un mot de passe. Vous êtes entièrement responsable de sa confidentialité. Vous ne devez jamais divulguer cette information. Vous êtes seul responsable de toute activité sur votre compte utilisateur.
            <br>
            En utilisant Buskeet, vous devez impérativement fournir des informations véridiques et correctes et n'enfreindre aucune loi en vigueur. Buskeet se réserve le droit de les supprimer sans accord préalable et sans notification de sa part s'il s'avère que ces conditions ne sont pas respectées.
            <br>
            L'inscription sur le site est strictement interdite aux mineurs de moins de 13 ans.
            <br>
            A tout moment, un utilisateur inscrit peut se désinscrire en suivant la procédure décrite dans son espace personnel.
            <br>
            Buskeet est un service gratuit.
        </p>

        <h3 class="text-cyan">2. Utilisation</h3>
        <p class="text-justify">
            Buskeet est reservée à l'usage personnel de ses visiteurs. Toute utilisation à des fins commerciales sera immédiatement sanctionnée. Buskeet se réserve le droit d'exercer toute action en justice appropriée et de signaler l'infraction aux autorités judiciaires et de police.
        </p>

        <h3 class="text-cyan">3. Contenu publié</h3>
        <p class="text-justify">
            Les contenus publiés sur Buskeet, qu'il s'agisse de textes, d'images, de vidéos ou de sons, ne sont pas la propriété de Buskeet. Vous êtes seul propriétaire de ces contenus et pouvez agir librement sur leur visibilité. En publiant du contenu sur Buskeet, vous autorisez la plateforme à représenter publiquement ces informations.
            <br>
            Vous déclarez, garantissez et vous vous engagez à ce qui suit:
            <ul>
                <li>Le contenu que vous publiez sur Buskeet est votre propriété.</li>
                <li>Le contenu que vous publiez est conforme aux présentes conditions, et ne viole aucune loi en vigueur. Dans le cas contraire, vous vous engagez à être seul responsable de toute infraction commise.</li>
                <li>Le contenu présent sur Buskeet provient d'autres membres du site. Vous n'êtes pas propriétaire de ces informations et par conséquent, vous ne pouvez ni copier, ni modifier, ni traduire, ni publier, ni diffuser, ni transmettre, ni distribuer, ni exécuter, ni afficher, ni vendre ou utiliser ces informations.</li>
            </ul>
            Vous devez être vigilant quant aux contenus que vous publiez. Buskeet n'est aucunement responsable de ces publications.
        </p>
        <h3 class="text-cyan">4. Activités interdites</h3>
        <p class="text-justify">
            Toute activité interdite sur Buskeet sera immédiatement sanctionnée par la suppression de votre compte.
            <br>
            Est interdit tout comportement encourageant le racisme, la haine, l'agression physique contre un groupe ou un individu, le harcèlement, les propos ou comportements obscènes et diffamatoires, l'exploitation des personnes de manière violente ou sexuelle, la diffusion publique d'informations confidentielles, les contenus à caractères pornographiques, un lien vers un site internet pour adultes, la copie illégale ou non autorisée d'œuvres de tiers protégées par des droits d'auteur, servir ou faire la promotion de toute activité criminelle, solliciter ou viser à solliciter des mots de passe ou des informations personnellement identifiables auprès d'autres utilisateurs à des fins commerciales ou illégales, d'inclure une photographie ou une vidéo d'une personne sans son consentement.
        </p>

        <h3 class="text-cyan">5. Interactions entre les membres</h3>
        <p class="text-justify">
            Vous êtes seul responsable des interactions que vous créez avec les autres membres du site.
        </p>

        <h3 class="text-cyan">6. Responsabilités</h3>
        <p class="text-justify">
            Vous acceptez de dégager Buskeet de toute responsabilité en cas de perte d'informations, revendication ou demande subie par ou émanant de tout tiers en raison de votre utilisation de la plateforme en violation des présentes conditions d'utilisation.
        </p>

        <p class="text-justify">Vous acceptez sans réserves les présentes conditions dès votre première utilisation.</p>
    </div>
</div>
{% endblock %}