{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block title %}Buskeet | CGU{% endblock %}
{% block body %}
<div class="container">
    <div class="clzk-home-container">
        <h1 class="text-cyan">Conditions Générales d'Utilisation</h1>
        <p class="text-justify">
            L’utilisation de Buskeet implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs de Buskeet sont donc invités à les consulter de manière régulière.
        </p>
        <p class="text-justify">
            Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par le webmaster, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
        </p>
        <p class="text-justify">
            Le site Buskeet est mis à jour régulièrement par les utilisateurs. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
        </p>
        <p class="text-justify">
            Buskeet est une plateforme communautaire gratuite permettant à ses membres de créer une page personnelle et unique afin de se promouvoir, de rechercher d'autres musiciens, de communiquer avec eux et de proposer des évènements ponctuels autour du thème de la musique.
        </p>
        <p class="text-justify">
            Les services proposés par Buskeet sont accessibles via Internet, depuis un terminal fixe, ou d'un mobile disposant d'un navigateur internet. Seuls les membres inscrits sur Buskeet peuvent accéder aux fonctionnalités proposées.
        </p>
        <p class="text-justify">
            Buskeet est hébergée en France et les responsables peuvent être contactés à tout moment à l'adresse : contact(at)buskeet.com.
        </p>

        <h3 class="text-cyan">1. Inscription</h3>
        <p class="text-justify">
            L'inscription et l'utilisation de Buskeet en tant que membre sont considérées comme nulles et non avenues si elles sont réalisées en violation des présentes conditions.
            <br>
            Lors de votre inscription, Buskeet vous demande de choisir un mot de passe. Vous êtes entièrement responsable de sa confidentialité. Vous ne devez jamais divulguer cette information. Vous êtes seul responsable de toute activité sur votre compte utilisateur.
            <br>
            En utilisant Buskeet, vous devez impérativement fournir des informations véridiques et correctes et n'enfreindre aucune loi en vigueur. Buskeet se réserve le droit de les supprimer sans accord préalable et sans notification de sa part s'il s'avère que ces conditions ne sont pas respectées.
            <br>
            L'inscription sur le site est strictement interdite aux mineurs de moins de 13 ans.
            <br>
            A tout moment, un utilisateur inscrit peut se désinscrire en suivant la procédure décrite dans son espace personnel.
            <br>
            Buskeet est un service gratuit.
        </p>

        <h3 class="text-cyan">2. Utilisation</h3>
        <p class="text-justify">
            Buskeet est reservée à l'usage personnel de ses visiteurs. Toute utilisation à des fins commerciales sera immédiatement sanctionnée. Buskeet se réserve le droit d'exercer toute action en justice appropriée et de signaler l'infraction aux autorités judiciaires et de police.
        </p>

        <h3 class="text-cyan">3. Propriété intellectuelle et contrefaçons</h3>
        <p class="text-justify">
            Buskeet est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments non publiés par les utilisateurs du site et accessibles sur le site, notamment les graphismes, logo, et icônes.
        </p>
        <p class="text-justify">
            En revanche, les contenus publiés sur Buskeet, qu'il s'agisse de textes, d'images, de vidéos ou de sons, ne sont pas la propriété de Buskeet. Vous êtes seul propriétaire de ces contenus et pouvez agir librement sur leur visibilité. En publiant du contenu sur Buskeet, vous autorisez la plateforme à représenter publiquement ces informations.
        </p>
        <p class="text-justify">
            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de son propriétaire.<br>
            Vous devez être vigilant quant aux contenus que vous publiez. Buskeet n'est aucunement responsable de ces publications.
        </p>
        <p class="text-justify">
            Toute exploitation non autorisée du site ou d'un quelconque élément qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
        </p>

        <h3 class="text-cyan">4. Limitations contractuelles sur les données techniques</h3>
        <p class="text-justify">
            Le site utilise la technologie JavaScript.
        </p>
        <p class="text-justify">
            Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis à jour.
        </p>

        <h3 class="text-cyan">5. Activités interdites</h3>
        <p class="text-justify">
            Toute activité interdite sur Buskeet sera immédiatement sanctionnée par la suppression de votre compte.
            <br>
            Est interdit tout comportement encourageant le racisme, la haine, l'agression physique contre un groupe ou un individu, le harcèlement, les propos ou comportements obscènes et diffamatoires, l'exploitation des personnes de manière violente ou sexuelle, la diffusion publique d'informations confidentielles, les contenus à caractères pornographiques, un lien vers un site internet pour adultes, la copie illégale ou non autorisée d'œuvres de tiers protégées par des droits d'auteur, servir ou faire la promotion de toute activité criminelle, solliciter ou viser à solliciter des mots de passe ou des informations personnellement identifiables auprès d'autres utilisateurs à des fins commerciales ou illégales, d'inclure une photographie ou une vidéo d'une personne sans son consentement.
        </p>

        <h3 class="text-cyan">6. Interactions entre les membres</h3>
        <p class="text-justify">
            Vous êtes seul responsable des interactions que vous créez avec les autres membres du site.
        </p>

        <h3 class="text-cyan">7. Limitations de responsabilité</h3>
        <p class="text-justify">Buskeet ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site www.buskeet.com, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
        <p class="text-justify">
            Des espaces interactifs sont à la disposition des utilisateurs. Buskeet se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Buskeet se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).
        </p>
        <p class="text-justify">
            Vous acceptez de dégager Buskeet de toute responsabilité en cas de perte d'informations, revendication ou demande subie par ou émanant de tout tiers en raison de votre utilisation de la plateforme en violation des présentes conditions d'utilisation.
        </p>
        <p class="text-justify">
            Vous acceptez sans réserves les présentes conditions dès votre inscription.
        </p>

        <h3 class="text-cyan">8. Liens hypertextes et cookies</h3>
        <p class="text-justify">
            Buskeet peut contenir des liens hypertextes vers d’autres sites, mis en place par ses utilisateurs. Cependant, Buskeet n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
        </p>
        <p class="text-justify">
            La navigation sur Buskeet est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
        </p>
        <p class="text-justify">
            Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :
        </p>
        <ul>
            <li class="text-justify">
                Sous Internet Explorer : onglet "outil" (pictogramme en forme de rouage en haut a droite) / "options internet". Cliquez sur "Confidentialité"" et choisissez "Bloquer tous les cookies". Validez sur "Ok".
            </li>
            <li class="text-justify">
                Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton "Firefox", puis aller dans l'onglet "Options". Cliquer sur l'onglet "Vie privée".
                Paramétrez les "Règles de conservation" sur :  "utiliser les paramètres personnalisés pour l'historique". Enfin décochez-la pour désactiver les cookies.
            </li>
            <li class="text-justify">
                Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez "Paramètres". Cliquez sur "Afficher les paramètres avancés". Dans la section "Confidentialité", cliquez sur "Paramètres de contenu". Dans la section "Cookies", vous pouvez bloquer les cookies.
            </li>
            <li class="text-justify">
                Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez "Paramètres". Cliquez sur "Afficher les paramètres avancés". Dans la section "Confidentialité", cliquez sur "préférences".  Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.
            </li>
        </ul>

        <h3 class="text-cyan">9. Droit applicable et attribution de juridiction</h3>
        <p class="text-justify">
            Tout litige en relation avec l’utilisation de Buskeet est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
        </p>
        <h3 class="text-cyan">10. Les principales lois concernées</h3>
        <p class="text-justify">
            Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
        </p>
        <p class="text-justify">
            Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
        </p>

        <h3 class="text-cyan">11. Lexique</h3>
        <p class="text-justify">
            Utilisateur : Internaute se connectant, utilisant le site susnommé.
        </p>
        <p class="text-justify">
            Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
        </p>
        <p class="text-justify">
            <small>Crédits : les Conditions Générales d'Utilisation ont étés générées et offertes par Subdelirium <a target="_blank" href="http://www.subdelirium.com/agence-web/agence-web-charente/agence-web-angouleme/" alt="agence web angouleme">agence web Angoulême</a></small>
        </p>
    </div>
</div>
{% endblock %}