{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block body %}
<div class="container">
	<h1 class="text-left text-cyan">Conditions Générales d'Utilisation</h1>

	<p class="text-left">
		Buskeet est une plate-forme communautaire gratuite permettant à ses membres de créer une page personnelle et unique afin de se promouvoir, de rechercher d'autres musiciens, de communiquer avec eux et de proposer des évènements ponctuels autour du thème de la musique.
	</p>

	<p class="text-left">
		Les services proposés par Buskeet sont accessibles via Internet, depuis un terminal fixe, ou d'un mobile disposant d'un navigateur internet. Certaines fonctionnalités nécessitent cependant une inscription pour devenir membre.
	</p>

	<p class="text-left">
		Buskeet est hébergé en France et les responsables peuvent être contactés à tout moment à l'adresse : contact(at)buskeet.com.
	</p>

	<p class="text-left">
		En utilisant Buskeet, vous vous engagez à respecter les présentes Conditions Générales d'Utilisation. En s'inscrivant sur le site, l'utilisateur reconnait qu'il est pleinement informé et qu’il est tenu par l’ensemble des dispositions des présentes Conditions Générales d’Utilisation. Ces Conditions Générales d'Utilisations sont soumises à des modifications qui peuvent survenir à tout moment. Toute modification entrera alors en vigueur dès sa publication sur Buskeet. Par conséquent, il est important de lire régulièrement les présentes conditions.
	</p>

	<p class="text-left">
		Si vous n'êtes pas d'accord avec ces Conditions Générales d'Utilisation, vous devez cesser d'utiliser Buskeet.
	</p>


	<h3 class="text-cyan">1. Inscription</h3>
	<p class="text-left">
		L'inscription et l'utilisation de Buskeet en tant que membre sont considérées comme nulles et non avenues si elles sont réalisées en violation des présentes conditions.
		<br>
		Lors de votre inscription, Buskeet vous demande de choisir un mot de passe. Vous êtes entièrement responsable de sa confidentialité. Vous devez ne jamais divulguer cette information. Vous êtes seul responsable de toute activité sur votre compte d'utilisateur.
		<br>
		En utilisant Buskeet, vous devez impérativement fournir des informations véridiques et correctes et n'enfreindre aucune loi en vigueur. Buskeet se réserve le droit de les supprimer sans accords préalables et sans notification de sa part s'il s'avère que ces conditions ne sont pas respectées.
		<br>
		L'inscription sur le site est strictement interdites aux mineurs de moins de 13 ans.
		<br>
		A tout moment, un utilisateur inscrit peut se désinscrire en suivant la procédure décrite dans son espace personnel.
		<br>
		Buskeet est un service gratuit.
	</p>

	<h3 class="text-cyan">2. Utilisation</h3>
	<p class="text-left">
		Buskeet est reservé a l'usage personnel de ses visiteurs. Toute utilisation à des fin commerciales seront immédiatement sanctionnée. Buskeet se réserve le droit d'exercer toute action en justice appropriée et de signaler l'infraction aux autorités judiciaires et de police.
	</p>

	<h3 class="text-cyan">3. Contenu publié</h3>
	<p class="text-left">
		Les contenus publiés sur Buskeet, qu'il s'agisse de textes, d'images, de vidéos ou de sons, ne sont pas la propriété de Buskeet. Vous êtes seul propriétaire de ces contenus et pouvez agir librement sur leur visibilité. En publiant du contenu sur Buskeet, vous autorisez la plate-forme à représenter publiquement ces informations.
		<br>
		Vous déclarez, garantissez et vous vous engagez à ce qui suit:
		<ul>
			<li>Le contenu que vous publiez sur Buskeet est votre propriété.</li>
			<li>Le contenu que vous publiez sont conformes aux présentes conditions, et ne viole aucune loi en vigueur. Dans le cas contraire contraire, vous vous engagez à être seul responsable de toute infraction commise.</li>
			<li>Le contenu présent sur Buskeet, provient d'autres membres du site. Vous n'êtes pas propriétaire de ces informations et par conséquent, vous ne pouvez ni copier, ni modifier, ni traduire, ni publier, ni diffuser, ni transmettre, ni distribuer, ni exécuter, ni afficher, ni vendre ou utiliser ces informations.</li>
		</ul>
		Vous devez être vigilant quant aux contenus que vous publiés. Buskeet n'est aucunement responsable de ces publications.
	</p>

	<h3 class="text-cyan">4. Activités interdites</h3>
	<p class="text-left">
		Toute activité interdite sur Buskeet sera immédiatement sanctionné par la suppression de votre compte.
		<br>
		Est interdit tout comportement encourageant le racisme, la haine, l'agression physique contre un groupe ou un individu, le harcèlement, les propos ou comportements obscènes et diffamatoire, l'exploitation des personnes de manière violente ou sexuelle, la diffusion publique d'informations confidentielles, les contenus à caractères pornographiques, un lien vers un site internet pour adultes, la copie illégale ou non autorisée d'œuvres de tiers protégées par des droits d'auteur, servir ou faire la promotion de toute activité criminelle, solliciter ou viser à solliciter des mots de passe ou des informations personnellement identifiables auprès d'autres utilisateurs à des fins commerciales ou illégales, d'inclure une photographie ou une vidéo d'une personne sans son consentement.
	</p>

	<h3 class="text-cyan">5. Interactions entre les membres</h3>
	<p class="text-left">
		Vous êtes seul responsable des intéractions que vous créés avec les autres membres du site.
	</p>

	<h3 class="text-cyan">6. Responsabilités</h3>
	<p class="text-left">
		Vous acceptez de dégager de toute responsabilité Buskeet en cas de perte, responsabilité, revendication ou demande subie par ou émanant de tout tiers en raison de votre utilisation de la plate-forme en violation des présentes conditions d'utilisation
	</p>

	<p class="text-left">Vous acceptez les présentes conditions dès votre première utilisation.</p>
</div>
{% endblock %}