{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block title %}Buskeet | Confidentialité{% endblock %}
{% block body %}
<div class="container">
    <div class="clzk-home-container">
        <h1 class="text-cyan">Confidentialité</h1>

        <p class="text-justify">
            Afin de vous inscrire sur la plateforme, vous devez fournir les informations suivantes :
            <ul>
                <li>Nom</li>
                <li>Prénom</li>
                <li>Adresse e-mail</li>
                <li>Mot de passe</li>
                <li>Date de naissance</li>
                <li>Sexe</li>
            </ul>
        </p>
        <p class="text-justify">
            En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
        </p>
        <p class="text-justify">
            A l'occasion de l'utilisation de Buskeet, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site, l'adresse de protocole Internet (IP) de l'utilisateur, ainsi que sa position dans l'espace (géolocalisation).
        </p>
        <p class="text-justify">
            En tout état de cause Buskeet ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site l’obligation ou non de fournir ces informations.
        </p>
        <p class="text-justify">
            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
        </p>
        <p class="text-justify">
            Aucune information personnelle de l'utilisateur de Buskeet n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de Buskeet et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site.
        </p>
        {# a changer apres déclaration 
        <p>Le site n'est pas déclaré à la CNIL car il ne recueille pas d'informations personnelles. .</p>
        #}
        <p class="text-justify">Le site est déclaré à la CNIL sous le numéro suivant : 1788674</p>
        <p class="text-justify">
            Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
        </p>
        <p class="text-justify">
            Vous êtes libre d'utiliser votre nom réel ou de préférer l'anonymat en utlisant un pseudonyme.
            <br>
            Vos pouvez à tout moment supprimer vos données. Buskeet s'engage à les supprimer définitivement.
        </p>
        <p class="text-justify">
            <small>Crédits : la politique de confidentialité a été générée et offerte par Subdelirium <a target="_blank" href="http://www.subdelirium.com/agence-web/agence-web-charente/agence-web-angouleme/" alt="agence web angouleme">agence web Angoulême</a></small>
        </p>
    </div>
</div>
{% endblock %}