{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block body %}
<div class="container">
	<h1 class="text-cyan">Confidentialité</h1>

	<p class="text-left">
		Afin de vous inscrire sur la plate-forme, vous devez fournir les informations suivantes :
		<ul>
			<li>Nom</li>
			<li>Prénom</li>
			<li>Adresse e-mail</li>
			<li>Mot de passe</li>
			<li>Date de naissance</li>
			<li>Sexe</li>
		</ul>
	</p>
	<p class="text-left">
		L'adresse e-mail ainsi que le mot de passe sont protégés par la plate-forme, et par conséquent innacessibles lors des conditions d'utilisation règlementaires. Toute autre information est visible par les visiteurs de la plate-forme.
		<br>
		Vous êtes libre d'utiliser votre nom réel ou de préférer l'anonymat en utlisant un pseudonyme.
		<br>
		Vos pouvez à tout moment supprimer vos données. Buskeet s'engage à les supprimer définitivement.
	</p>
{% endblock %}