<script type="text/template" id="clzk-search-result-template">
    <div class="clzk-search-profile-container">
        <div class="col-md-12 clzk-search-profile-content-upper">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= profile_picture_path %>" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-8">
                    <h2><%= user.profile.firstname %>&nbsp;<%= user.profile.lastname %></h2>
                    <p><%= user.profile.locality %></p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 clzk-search-profile-content-lower">
            <div class="row">
                <div class="col-md-8">
                    <!-- icons -->
                    <% for (var i in user.profile.portfolio.instruments) { %>
                        <span><%= user.profile.portfolio.instruments[i].name %></span> |
                    <% } %>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-block btn-secondary">Voir le profil</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-search-results-template">
    <div id="clzk-search-result-container" class="clzk-results-container"></div>
</script>