<script type="text/template" id="clzk-search-menu-template">

    <div id="map" class="clzk-search-menu-map"></div>
    
    <div class="form-horizontal" role="form">
        <!-- icons selectable -->
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control input-lg" id="clzk-search-target-input" placeholder="Que recherchez-vous ?">
            </div>
        </div>
    </div>

    <div class="clzk-ad">
        pub
    </div>
</script>