{
    "swagger": "2.0",
    "info": {
        "title": "Keyclic API",
        "description": "",
        "termsOfService": "",
        "contact": {
            "name": "API Support",
            "url": "http:\/\/keyclic.com",
            "email": "techies@keyclic.com"
        },
        "version": "1.0"
    },
    "host": "api.keyclic.com",
    "basePath": "\/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application\/json;charset=UTF-8"
    ],
    "produces": [
        "application\/hal+json;charset=UTF-8"
    ],
    "paths": {
        "\/applications\/{application}": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Retrieve one Application resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getApplication",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "application",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Application"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ]
            }
        },
        "\/categories": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve all Category resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetCategories",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/organization"
                    },
                    {
                        "$ref": "#\/parameters\/geo_coordinates"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/CategoryPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/categories\/{category}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Category"
                ],
                "summary": "Edit one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/CategoryPatch"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/organizations\/{organization}\/categories": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Create one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postCategoryByOrganization",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/CategoryData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "organization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve all Category resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetCategoriesByOrganization",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/geo_coordinates"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "organization",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/CategoryPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks": {
            "get": {
                "tags": [
                    "Feedback"
                ],
                "summary": "Retrieve all Feedback resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetFeedbacks",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "default": "DELIVERED",
                        "in": "query",
                        "name": "state",
                        "pattern": ".*",
                        "type": "string"
                    },
                    {
                        "$ref": "#\/parameters\/category"
                    },
                    {
                        "$ref": "#\/parameters\/geo_hash[]"
                    },
                    {
                        "$ref": "#\/parameters\/organization"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/geo_near[geo_coordinates]"
                    },
                    {
                        "$ref": "#\/parameters\/geo_near[radius]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/FeedbackPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/comments": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Retrieve all Comment resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetCommentsByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/ActivityPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Create one Comment resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postCommentByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/CommentData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/contributions": {
            "get": {
                "tags": [
                    "Contribution"
                ],
                "summary": "Retrieve all Contribution resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetContributionsByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/ActivityAggregatedPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contribution"
                ],
                "summary": "Create one Contribution resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postContributionByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}": {
            "get": {
                "tags": [
                    "Feedback"
                ],
                "summary": "Retrieve one Feedback resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/tracking": {
            "get": {
                "tags": [
                    "Tracking"
                ],
                "summary": "Retrieve one Tracking resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getTrackingByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Tracking"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/images\/{image}\/{width}\/{height}": {
            "get": {
                "tags": [
                    "Image"
                ],
                "summary": "Retrieve one Image resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getImageByFeedbackAndImageAndWidthAndHeight",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "image",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "width",
                        "pattern": "\\d*",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "pattern": "\\d*",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/state": {
            "patch": {
                "tags": [
                    "State"
                ],
                "summary": "Edit one State resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchStateByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/FeedbackStatePatch"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/images": {
            "post": {
                "tags": [
                    "Image"
                ],
                "summary": "Create one Image resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postImageByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/ImageData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/issues": {
            "post": {
                "tags": [
                    "Issue"
                ],
                "summary": "Create one Issue resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postIssue",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/FeedbackData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/feedbacks\/{feedback}\/workflow\/transition": {
            "post": {
                "tags": [
                    "Transition"
                ],
                "summary": "Create one Transition resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postTransitionByFeedback",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/FeedbackWorkflowTransitionData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "feedback",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Feedback"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/comments": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Retrieve all Comment resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetCommentsByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/ActivityPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Create one Comment resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postCommentByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/CommentData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/logs": {
            "get": {
                "tags": [
                    "Log"
                ],
                "summary": "Retrieve all Log resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetLogsByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/LogEntryPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}": {
            "delete": {
                "tags": [
                    "Operation"
                ],
                "summary": "Remove one Operation resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Operation"
                ],
                "summary": "Retrieve one Operation resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Operation"
                ],
                "summary": "Edit one Operation resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/OperationPatch"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/images\/{image}": {
            "delete": {
                "tags": [
                    "Image"
                ],
                "summary": "Remove one Image resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteImageByOperationAndImage",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "image",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/images\/{image}\/{width}\/{height}": {
            "get": {
                "tags": [
                    "Image"
                ],
                "summary": "Retrieve one Image resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getImageByOperationAndImageAndWidthAndHeight",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "image",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "width",
                        "pattern": "\\d*",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "pattern": "\\d*",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/state": {
            "patch": {
                "tags": [
                    "State"
                ],
                "summary": "Edit one State resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchStateByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/OperationStatePatch"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations": {
            "post": {
                "tags": [
                    "Operation"
                ],
                "summary": "Create one Operation resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/OperationData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/assign": {
            "post": {
                "tags": [
                    "Assign"
                ],
                "summary": "Create one Assign resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postAssignByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/MemberData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/images": {
            "post": {
                "tags": [
                    "Image"
                ],
                "summary": "Create one Image resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postImageByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/ImageData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/operations\/{operation}\/workflow\/transition": {
            "post": {
                "tags": [
                    "Transition"
                ],
                "summary": "Create one Transition resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postTransitionByOperation",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/OperationWorkflowTransitionData"
                    },
                    {
                        "description": "The identifier of the resource formatted as GUID string.",
                        "format": "uuid",
                        "in": "path",
                        "name": "operation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Operation"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/organizations": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "summary": "Retrieve all Organization resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/developers.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetOrganizations",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/geo_coordinates"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/search[name]"
                    },
                    {
                        "$ref": "#\/parameters\/search[alternateName]"
                    },
                    {
                        "$ref": "#\/parameters\/search[description]"
                    },
                    {
                        "$ref": "#\/parameters\/search[billingEmailAddress]"
                    },
                    {
                        "$ref": "#\/parameters\/search[notificationEmailAddress]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/OrganizationPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
[...]
