{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block menu_region %}
    {#} MENU FIRST RENDER {#}
    <div id="clzk-menu-region">
        <div id="clzk-profile-menu-actions-region">
            <div id="clzk-profile-menu-static">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path('colzak_user_account') }}" class="clzk-context-links edit-button" data-form="profile"><h5>MON COMPTE</h5></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_region %}
	<ul class="breadcrumb clzk-breadcrumb mb0">
        <li>Mon compte</li>
    </ul>
	<div class="col-md-7">
        {#} Description {#}
        <div class="form-horizontal mt2">
            <h4 class="text-cyan">Modifier mon adresse e-mail</h4>
            <div class="col-md-12 bg-dark">
                <div class="input-group col-md-12 mt1 mb1">
                    {{ render(controller('ColzakUserBundle:Profile:changeEmail')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
