{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title %}Buskeet | Actualités{% endblock %}

{% block menu_region %}
    {#} MENU FIRST RENDER {#}
    <div id="clzk-menu-region"></div>

    {#} MENU TEMPLATES {#}
    <script type="text/template" id="clzk-feeds-menu-layout">
        <div id="clzk-feeds-menu-actions-region"></div>
    </script>

    <script type="text/template" id="clzk-feeds-menu-template">
        <ul class="list-group">
            <li class="list-group-item"><a href="#" class="clzk-context-links">action</a></li>
        </ul>
    </script>
{% endblock %}

{% block content_region %}
    {#} PROFILE FIRST RENDER {#}
    <div id="clzk-main-region" class="clzk-feeds-region"></div>

    {#} PROFILE TEMPLATES {#}
    {#} Profile Layout {#}
    <script type="text/template" id="clzk-feeds-layout">
        <div class="col-md-8">
            <h2 class="text-cyan">Autour de moi</h2>
            <div id="clzk-feeds-stream-region" class="clzk-region"></div>
            <div id="clzk-feeds-pagination-region"></div>
        </div>
        <div class="clearfix"></div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {#} Templates {#}
    <script type="text/template" id="clzk-feed-template">
        <div class="feed-container bg-dark p1 mb2">
            <div class="row">
                <div class="col-md-3">
                    <a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.profile.username }) %>">
                        <% if (typeof poster_profile_photo !== 'undefined') { %>
                            <img class="img-responsive" src="<%= poster_profile_photo.thumb_path %>">
                        <% } else { %>
                            <% if (feed.profile.gender == 'MALE') { %>
                                <img class="img-responsive" src="/img/male.png">
                            <% } else { %>
                                <img class="img-responsive" src="/img/female.png">
                            <% } %>
                        <% } %>
                    </a>
                </div>
                <div class="col-md-9">
                    <p class="text-left"><a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.profile.username }) %>"><%= feed.profile.firstname %></a>&nbsp;<%= translate(feed.movement_detail.action) %></p>
                    <p>
                        <% if (context == 'PHOTO') { %>
                            <a data-toggle="modal" class="image-modal" href="#">
                                <img src="<%= feed.movement_detail.photo.thumb_path %>">
                            </a>
                        <% } %>
                        <% if (context == 'EVENT') { %>
                            <h3><a href="<%= Routing.generate('colzak_event', { 'eventId': feed.movement_detail.event.id }) %>"><%= feed.movement_detail.event.title %></a></h3>
                            <p class="ml2"><%= feed.movement_detail.event.content %></p>
                            <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;<%= completeAddress %></p>
                        <% } %>
                        <% if (context == 'PROFILE') { %>
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.movement_detail.profile.username }) %>">
                                        <% if (typeof following_profile_photo !== 'undefined') { %>
                                            <img src="<%= following_profile_photo.thumb_path %>" class="img-responsive">
                                        <% } else { %>
                                            <% if (feed.movement_detail.profile.gender == 'MALE') { %>
                                                <img class="img-responsive" src="/img/male.png">
                                            <% } else { %>
                                                <img class="img-responsive" src="/img/female.png">
                                            <% } %>
                                        <% } %>
                                    </a>
                                </div>
                                <div class="col-md-10">
                                    <p><a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.movement_detail.profile.username }) %>"><%= feed.movement_detail.profile.firstname %></a></p>
                                </div>
                            </div>
                        <% } %>
                    </p>
                    <p class="text-right mb0"><i><small>
                        <% if (moment().diff(moment(feed.created_at), 'days') < 1) { %>
                            <%= moment(feed.created_at).fromNow() %>
                        <% } else { %>
                            le <%= moment(feed.created_at).format('DD MMM YYYY') %> à <%= moment(feed.created_at).format('H:mm') %>
                        <% } %>
                    </small></i></p>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="clzk-feeds-template">
        <div id="clzk-feed-container"></div>
        <div class="loader-indicator hidden text-center col-md-12">
            <img src="/img/ajax-loader.gif">
        </div>
    </script>

    <script type="text/template" id="clzk-feeds-photo-carousel-template">
        <div id="clzk-feeds-photo-carousel" class="carousel slide">
            <button type="button" class="close close-carousel-btn" data-dismiss="modal" aria-hidden="true">&times;</button>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="<%= photo.path %>" class="img-responsive"/>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block extra_modal %}
    <div class="modal fade" id="clzk-modal" role="dialog">
        <div class="modal-dialog container">
            <div class="modal-content" id="clzk-modal-region">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    {% javascripts
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/vendor/backbone-memento.min.js"
        "js/vendor/moment-2.0.0.min.js"
        "js/vendor/moment.lang.fr.min.js"
        "js/jquery/jquery.bum-smack.min.js"
        "js/translate.js"
        "js/app/App.js"
        "js/app/Feeds.js"
        "js/app/models/Feeds.js"
        "js/app/views/FeedsView.js"
        filter="uglifyjs2"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        NProgress.start();
        moment.lang('fr');
        var options = {
                module: "feeds",
                user: {{ app.user|serialize|raw }},
                path: "{{ path(app.request.attributes.get('_route')) }}"
        };
        App.start(options);
    })
    </script>
{% endblock %}
