{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title %}Buskeet | Autour de moi{% endblock %}

{#% block menu_region %}
     MENU FIRST RENDER 
    <div id="clzk-menu-region"></div>

     MENU TEMPLATES 
    <script type="text/template" id="clzk-feeds-menu-layout">
        <div id="clzk-feeds-menu-actions-region"></div>
    </script>

    <script type="text/template" id="clzk-feeds-menu-template">
        <ul class="list-group">
            <li class="list-group-item"><a href="#" class="clzk-context-links">action</a></li>
        </ul>
    </script>
{% endblock %#}

{% block extra_stylesheets %}
    {% stylesheets
        "css/feeds.css"
        filter="uglifycss"
        filter="cssrewrite"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="clzk-main-region" class="clzk-feeds-region"></div>

    {#} PROFILE TEMPLATES {#}
    {#} Profile Layout {#}
    <script type="text/template" id="clzk-feeds-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    {#} Menu {#}
                    <div id="clzk-feeds-menu-region" class="mt2"></div>
                </div>

                <div class="col-md-6">
                    <h2 class="text-cyan">Autour de moi</h2>
                    <div id="clzk-feeds-stream-region" class="clzk-region"></div>
                    <div id="clzk-feeds-pagination-region"></div>
                </div>

                <div class="col-md-3 hidden-xs">
                    <h2>&nbsp;</h2>
                    <div id="clzk-feeds-suggested-profiles-region" class="mt1"></div>
                    <div id="clzk-feeds-suggested-events-region" class="mt2"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="clzk-feeds-menu-template">
        <div class="profile-photo-container">
            <% if (typeof profile.profile_photo !== 'undefined') { %>
                <img src="<%= profile.profile_photo.thumb_path %>" class="img-responsive">
            <% } else { %>
                <% if (profile.gender == 'MALE') { %>
                    <img src="/img/male.png" alt="..." class="img-responsive">
                <% } else { %>
                    <img src="/img/female.png" alt="..." class="img-responsive">
                <% } %>
            <% } %>
        </div>
        <div class="profile-informations-container">
            <h4><%= profile.firstname %></h4>
            <p><%= moment(profile.birthdate).fromNow(true) %><% if (typeof profile.locality !== 'undefined') { %>, <%= profile.locality %><% } %></p>
        </div>
        <div class="clearfix mb1"></div>
        <ul class="list-group">
            <li class="list-group-item"><a href="<%= Routing.generate('colzak_user_feed') %>" class="clzk-context-links">Autour de moi</a></li>
            <li class="list-group-item"><a href="<%= Routing.generate('colzak_user_homepage', { 'username': profile.username }) %>" class="clzk-context-links">Mon profil</a></li>
            <li class="list-group-item"><a href="<%= Routing.generate('colzak_user_inbox') %>" class="clzk-context-links">Mes messages</a></li>
            <!-- <li class="list-group-item"><a href="#" class="clzk-context-links">Mes jam sessions</a></li> -->
            <!-- <li class="list-group-item"><a href="#" class="clzk-context-links">Les musiciens que je suis</a></li> -->
            <!-- <li class="list-group-item"><a href="#" class="clzk-context-links">Les musiciens qui me suivent</a></li> -->
            
        </ul>
    </script>

    {#} Suggestions templates {#}
    <script type="text/template" id="clzk-feeds-profiles-template">
        <div class="panel panel-inverse clzk-profile-feeds-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Ils habitent tout près</h3>
            </div>
            <div class="panel-body">
                <% for (var i in profiles) { %>
                    <div class="clzk-profile-feeds-container">
                        <a  href="<%= Routing.generate('colzak_user_homepage', { 'username': profiles[i].username }) %>">
                            <% if (typeof profiles[i].profile_photo !== 'undefined') { %>
                                <img src="<%= profiles[i].profile_photo.thumb_path %>" class="img-responsive">
                            <% } else { %>
                                <% if (profiles[i].gender == 'MALE') { %>
                                    <img src="/img/male.png" alt="..." class="img-responsive">
                                <% } else { %>
                                    <img src="/img/female.png" alt="..." class="img-responsive">
                                <% } %>
                            <% } %>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </script>
    <script type="text/template" id="clzk-feeds-events-template">
        <div class="panel panel-inverse clzk-profile-feeds-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Ça se passe près de chez vous</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled mt1">
                    <% if (events.length === 0) { %>
                        <li><i>Rien autour de chez vous</i></li>
                    <% } %>
                    <% for (var i in events) { %>
                        <li><a href="<%= Routing.generate('colzak_event', { 'eventId': events[i].id }) %>"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= moment(events[i].date).format('DD/MM/YYYY') %> - <%= events[i].title %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {#} Templates {#}
    <script type="text/template" id="clzk-feed-template">
        <div class="feed-container bg-dark p1 mb2">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.profile.username }) %>">
                        <% if (typeof poster_profile_photo !== 'undefined') { %>
                            <img class="img-responsive" src="<%= poster_profile_photo.thumb_path %>">
                        <% } else { %>
                            <% if (feed.profile.gender == 'MALE') { %>
                                <img class="img-responsive" src="/img/male.png">
                            <% } else { %>
                                <img class="img-responsive" src="/img/female.png">
                            <% } %>
                        <% } %>
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <p class="text-left"><a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.profile.username }) %>"><%= feed.profile.firstname %></a>&nbsp;<%= translate(feed.movement_detail.action) %></p>
                    <p>
                        <% if (context == 'PHOTO') { %>
                            <a data-toggle="modal" class="image-modal" href="#">
                                <img src="<%= feed.movement_detail.photo.thumb_path %>" class="img-responsive">
                            </a>
                        <% } %>
                        <% if (context == 'VIDEO') { %>
                            <div class="video-container mt1">
                                <div id="embedded-object-<%= feed.movement_detail.video.id %>" class="embedded-object"></div>
                            </div>
                        <% } %>
                        <% if (context == 'EVENT') { %>
                            <h3><a href="<%= Routing.generate('colzak_event', { 'eventId': feed.movement_detail.event.id }) %>"><%= feed.movement_detail.event.title %></a></h3>
                            <p class="ml2"><%= feed.movement_detail.event.content %></p>
                            <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;<%= completeAddress %></p>
                        <% } %>
                        <% if (context == 'PROFILE') { %>
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.movement_detail.profile.username }) %>">
                                        <% if (typeof following_profile_photo !== 'undefined') { %>
                                            <img src="<%= following_profile_photo.thumb_path %>" class="img-responsive">
                                        <% } else { %>
                                            <% if (feed.movement_detail.profile.gender == 'MALE') { %>
                                                <img class="img-responsive" src="/img/male.png">
                                            <% } else { %>
                                                <img class="img-responsive" src="/img/female.png">
                                            <% } %>
                                        <% } %>
                                    </a>
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p><a href="<%= Routing.generate('colzak_user_homepage', { 'username': feed.movement_detail.profile.username }) %>"><%= feed.movement_detail.profile.firstname %></a></p>
                                </div>
                            </div>
                        <% } %>
                    </p>
                    <p class="text-right mb0"><i><small>
                        <% if (moment().diff(moment(feed.created_at), 'days') < 1) { %>
                            <%= moment(feed.created_at).fromNow() %>
                        <% } else { %>
                            le <%= moment(feed.created_at).format('DD MMM YYYY') %> à <%= moment(feed.created_at).format('H:mm') %>
                        <% } %>
                    </small></i></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="clzk-feeds-template">
        <div id="clzk-feed-container"></div>
        <div class="loader-indicator hidden text-center col-md-12">
            <img src="/img/ajax-loader.gif">
        </div>
    </script>

    <script type="text/template" id="clzk-empty-feed-template">
        <p class="text-left mb2">Votre fil d'actualité est vide.</p>
        <p class="text-left">Vous pouvez suivre d'autres musiciens avec lesquels vous avez des affinités afin d'être informé de leurs activités.</p>
    </script>

    <script type="text/template" id="clzk-feeds-photo-carousel-template">
        <div id="clzk-feeds-photo-carousel" class="carousel slide">
            <button type="button" class="close close-carousel-btn" data-dismiss="modal" aria-hidden="true">&times;</button>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="<%= photo.path %>" class="img-responsive"/>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block extra_modal %}
    <div class="modal fade" id="clzk-modal" role="dialog">
        <div class="modal-dialog container">
            <div class="modal-content" id="clzk-modal-region">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    {% javascripts
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/vendor/backbone-memento.min.js"
        "js/vendor/moment-2.0.0.min.js"
        "js/vendor/moment.lang.fr.min.js"
        "js/jquery/jquery.bum-smack.min.js"
        "js/translate.js"
        "js/app/App.js"
        "js/app/Feeds.js"
        "js/app/models/Feeds.js"
        "js/app/models/Profile.js"
        "js/app/views/FeedsView.js"
        "js/app/views/FeedsMenuView.js"
        filter="uglifyjs2"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        NProgress.start();
        moment.lang('fr');
        var options = {
                module: "feeds",
                user: {{ app.user|serialize|raw }},
                path: "{{ path(app.request.attributes.get('_route')) }}"
        };
        App.start(options);
    })
    </script>
{% endblock %}
