{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block body %}
    <div id="clzk-profile-region"></div>

    {#} Profile Layout {#}
    <script type="text/template" id="clzk-profile-layout">
        <div class="row">
            <div class="col-md-4">
                <div id="clzk-profile-picture-region"></div>
                <div id="clzk-profile-message-region"></div>
            </div>
            <div class="col-md-8">
                <div id="clzk-profile-information-region"></div>
                <hr>
                <div id="clzk-profile-description-region"></div>
            </div>
        </div>
        <div class="row">
            <div id="clzk-profile-portfolio-region"></div>
        </div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {#} Templates {#}
    {#} Profile picture {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_picture.html.twig' %}

    {#} Profile message {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_message.html.twig' %}

    {#} Profile information {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_information.html.twig' %}

    {#} Profile description {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_description.html.twig' %}

    {#} Profile description {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_portfolio.html.twig' %}


    
{% endblock %}
{% block extra_javascripts %}
    {% javascripts
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone-1.0.0.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/app/App.js"
        "js/app/Profile.js"
        "js/app/views/ProfilePictureView.js"
        "js/app/views/ProfileMessageView.js"
        "js/app/views/ProfileInformationView.js"
        "js/app/views/ProfileDescriptionView.js"
        "js/app/views/ProfilePortfolioView.js"
        "js/app/models/User.js"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(document).ready(function() {
        var options = {
            username: "{{ username }}",
            path: "{{ path(app.request.attributes.get('_route')) }}"
        };
        App.start(options);
    })
    </script>
{% endblock %}
