{% extends '::base.html.twig' %}

{% block body %}
<div class="clzk-login-register-container">
	<h2 class="text-cyan">Demande de réinitialisation effectuée</h2><br />
	<p>La procédure de réinitialisation de votre mot de passe vient de vous être envoyé à votre adresse email. Veuillez vérifier que celle-ci n'a pas été marqué comme spam.</p>
</div>
{% endblock %}
