{% extends '::base.html.twig' %}

{% block body %}
<h2 class="text-cyan">Demande de réinitialisation effectuée</h2><br />
<p>
	{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
