{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-cyan">Demande de réinitialisation déjà effectuée</h2>
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock %}
