{% extends '::base.html.twig' %}

{% block body %}
	<div class="clzk-login-register-container">
	    <h2 class="text-cyan">Demande de réinitialisation déjà effectuée</h2>
	    <p>Une email de réinitialisation à déjà été envoyé. Celui-ci se trouve dans votre boite de réception. Vérifiez également qu'il n'a pas été marqué comme spam</p>
	</div>
{% endblock %}
