{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title "Réinitialisation du mot de passe - Buskeet" %}

{% block body %}
<div class="clzk-login-register-container">
	{% include "ColzakUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock %}
