<h2 class="text-cyan">Mot de passe perdu</h2><br />
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}

        <!-- <div class="form-horizontal" role="form"> -->
            <div class="form-group">
                <label for="username" class="control-label">Nom d'utilisateur ou adresse e-mail</label>
                <!-- <div class="col-md-8 col-sm-8 col-xs-12"> -->
                    <input type="text" class="form-control" name="username" id="username" value="" required="required">
                <!-- </div> -->
            </div>
        <!-- </div> -->

       
    <!-- </div> -->
    <!-- <div class="pull-right"> -->
        <button class="btn btn-primary btn-lg pull-right" type="submit" value="Valider">Valider</button>
    <!-- </div> -->
    <div class="clearfix"></div>
</form>


