<script type="text/template" id="clzk-thread-template">
    <div class="thread-container">
        <div class="clzk-thread-photo-container">
            <% if (typeof recipient.profile_photo !== 'undefined') { %>
                <img src="<%= recipient.profile_photo.thumb_path %>" alt="..." class="img-responsive">
            <% } else { %>
                <% if (recipient.gender == 'MALE') { %>
                    <img src="/img/male.png" alt="..." class="img-responsive">
                <% } else { %>
                    <img src="/img/female.png" alt="..." class="img-responsive">
                <% } %>
            <% } %>
        </div>
        <div class="pull-left">
            <%= recipient.firstname %>{#&nbsp;&nbsp;<%= recipient.lastname %>#}
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="clzk-thread-empty-template">
    none
</script>

<script type="text/template" id="clzk-threads-template">
    <h3>Tous les messages</h3>
    <div id="clzk-thread-container"></div>
</script>