{% extends '::base_mail.html.twig' %}

{% block subject %}Redéfinition de votre mot de passe{% endblock %}

{% block mail_content %}
    <table class="row">
        <tr>
            <td class="wrapper last">

                <table class="twelve columns">
                    <tr>
                        <td>
                            <h5>Bonjour {{ user.profile.firstname }},</h5><br/>
                            <p class="lead">Suite à votre demande, nous vous communiquons la procédure à suivre afin de réinitialiser votre mot de passe :</p>
                            <p>Si vous ne souhaitez plus réinitialiser votre mot de passe, où que vous n'avez pas fait cette demande, veuillez ignorer cet email.</p><p>Cliquez sur le bouton ci-dessous pour accéder au formulaire de réinitialisation de votre mot de passe. Vous pouvez également copier-coller ce lien dans la barre d'adresse de votre navigateur.</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <table class="row callout">
        <tr>
            <td class="wrapper last">

                <table class="twelve columns">
                    <tr>
                        <td>
                            <p>
                                <a class="cn-link" href="{{ confirmationUrl }}" title="reinitialisation de votre mot de passe"> Je réinitialise mon mot de passe </a>
                            </p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <table class="row">
        <tr>
            <td class="wrapper last">

                <table class="twelve columns">
                    <tr>
                        <td>
                            <p>Conservez votre nouveau mot de passe précieusement car il vous le sera demandé lors de votre prochaine connexion !</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
{% endblock %}

