{% if threads is not null %}
	{% for thread in threads %}
		{% for message in thread.messages %}
			{% if loop.last %}
				<li><a href="{{ path('colzak_user_thread', { threadId: thread.id }) }}">{{ message.message }}</a></li>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endif %}