{% extends '::base_mail.html.twig' %}

{% block subject %}Confirmation de votre inscription{% endblock %}

{% block mail_content %}
<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <h3>Bonjour {{ user.profile.firstname }},</h3><br/>
                        <p>Nous vous confirmons la création de votre compte Buskeet et nous vous en remercions.</p>
                        <p>N'hésitez pas à compléter votre profil au maximum afin de mettre en avant toutes vos qualités !</p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <table class="four column offset-by-four">
                            <tr><td>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.buskeet.com/profile/{{user.username}}">Consulter mon profil</a>
                                </td>
                              </tr>
                            </table>
                        </td></tr>
                        </table>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
{% endblock %}

