<script type="text/template" id="clzk-search-pagination-template">
    <div class="text-center pagination-container">
        <ul class="pagination">
            <% if (previousPage === null) { %>
                <li class="disabled"><a href="#">&laquo;</a></li>
            <% } else { %>
                <li><a href="#" data-page="<%= previousPage %>" class="paginator-page">&laquo;</a></li>
            <% } %>
            <% for (var i = 1; i <= totalPages; i++) { %>
                <li><a href="#" data-page="<%= i %>" class="paginator-page"><%= i %></a></li>
            <% } %>
            <% if (nextPage === null) { %>
                <li class="disabled"><a href="#">&raquo;</a></li>
            <% } else { %>
                <li><a href="#" data-page="<%= nextPage %>" class="paginator-page">&raquo;</li>
            <% } %>
        </ul>
    </div>
</script>