<script type="text/template" id="clzk-public-place-template">
    <div class="panel panel-inverse mt2 search-info-panel">
        <div class="panel-heading"><h4><%= place.name %></h4></div>
        <div class="panel-body">
            <p><%= place.description %></p>
            <p><small><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;<%= completeAddress %></small></p>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-public-places-template">
    <h4 class="text-cyan text-center mb0 mt2">Une scène ouverte, ça vous branche ?</h4>
    <div id="public-places-container"></div>
    <p class="text-center"><small><a href="<%= Routing.generate('colzak_add_public_place') %>">[ Voir tous les lieux disponibles ]</a> ou <a href="<%= Routing.generate('colzak_add_public_place') %>">[ ajouter un lieu ]</a></small></p>
</script>