<script type="text/template" id="clzk-search-event-template">
    <div class="share-action-button-container pull-right" id="share-event-<%= userEvent.id %>">
        <span class="glyphicon glyphicon-share"></span>
    </div>
    <div class="event-container">
        <% if (typeof userEvent.title !== 'undefined') { %>
            <div class="event-title-container">
                <h4><%= userEvent.title %></h4>
            </div>
        <% } %>
        <div class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div class="calendar-container">
                <div class="calendar-month-container">
                    <p class="text-center mb0"><%= moment(userEvent.date).format('MMMM') %></p>
                </div>
                <div class="calendar-day-container">
                    <p class="text-center mb0"><%= moment(userEvent.date).format('DD') %></p>
                </div>
                <div class="calendar-year-container">
                    <p class="text-center mb0"><%= moment(userEvent.date).format('YYYY') %></p>
                </div>
            </div>
            <div class="time-container">
                <p class="text-center mb0"><%= userEvent.time %></p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="event-description-container">
                <p>
                    <% if (userEvent.content.length > 200) { %>
                        <%= userEvent.content.substring(0,200) %>...
                    <% } else { %>
                        <%= userEvent.content %>
                    <% } %>
                </p>
            </div>
        </div>
        <div class="view-btn-container">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="clearfix"></div>
        <div class="event-place-container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="mt1"><small><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;<%= completeAddress %> (<%= Math.round(userEvent.distance * 10) / 10 %> km)</small></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <% if (typeof userEvent.participants !== 'undefined') { %>
                        <p class="mt1"><small><%= userEvent.participants.length %> participant(s)</small></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="clzk-result-actions-container hidden" id="clzk-result-actions-container-<%= userEvent.id %>">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="http://www.facebook.com/sharer.php?u=<%= encodeURIComponent('http://www.buskeet.com' + Routing.generate('colzak_event', {'eventId': userEvent.id})) %>&t=<%= userEvent.title %>" rel="nofollow" target="_blank">
                    <img class="social-logo" src="/img/social/fb_white_29.png" width="20">
                    &nbsp;&nbsp;<span>Partager sur Facebook</span>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent('http://www.buskeet.com' + Routing.generate('colzak_event', {'eventId': userEvent.id})) %>&text=<%= userEvent.title %>&hashtags=buskeet,jamsession" rel="nofollow" target="_blank">
                    <img class="social-logo" src="/img/social/twitter_white.png" width="25">
                    &nbsp;&nbsp;<span>Partager sur Twitter</span>
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-search-event-empty-template">
    <p class="text-center">Aucun évènement à venir dans votre région</p>
</script>

<script type="text/template" id="clzk-search-events-template">
    <div class="clzk-results-number-container">
        <p class="text-center"><%= results.length %><% if (results.length > 1) { %> résultats <% } else { %> résultat <% } %></p>
    </div>
    <div id="clzk-search-event-container" class="clzk-events-container"></div>
</script>

<script type="text/template" id="clzk-search-event-preview-template">
    <div class="back-to-results">
        <p class="text-center"><a href="#"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour à la liste de résultats</a></p>
    </div>

    <div class="participate-button-container">
        <% if (isAuthenticated && !isHimself) { %>
            <% if (isParticipating) { %>
                <div class="btn participate-button"><span class="glyphicon glyphicon-remove"></span> Je ne souhaite plus participer</div>
            <% } else { %>
                <div class="btn participate-button"><span class="glyphicon glyphicon-plus"></span> Je souhaite participer</div>
            <% } %>
        <% } %>
    </div>

    <h3 class="text-cyan mt2 mb0">Détail</h3>
    <div class="bg-dark p1">
        <p><%= userEvent.content %></p>
    </div>
    
    <h3 class="text-cyan mt2 mb0">Lieu</h3>
    <p><%= completeAddress %> ( <%= Math.round(userEvent.distance * 10) / 10 %> km )</p>
    <div class="preview-map-container"></div>
    <div id="event-preview-map"></div>

    <h3 class="text-cyan mt2 mb1">
        Proposé par 
        <% if (isHimself) { %>
            vous
        <% } else { %>
            <%= userEvent.profile.firstname %>
        <% } %>
    </h3>
    <div class="event-participants-container">
        <div class="row">
            <div class="col-md-2">
                <a href="<%= Routing.generate('colzak_user_homepage', { 'username': userEvent.profile.username }) %>">
                <% if (userEvent.profile.photos.length > 0) { %>
                    <% for (var k in userEvent.profile.photos) { %>
                        <% if (userEvent.profile.photos[k].is_profile_picture) { %>
                            <img src="<%= userEvent.profile.photos[k].thumb_path %>" alt="..." class="img-responsive">
                        <% } %>
                    <% } %>
                <% } else { %>
                    <% if (userEvent.profile.gender == 'MALE') { %>
                        <img src="/img/male.png" alt="..." class="img-responsive">
                    <% } else { %>
                        <img src="/img/female.png" alt="..." class="img-responsive">
                    <% } %>
                <% } %>
                </a>
            </div>
        </div>
    </div>

    <h3 class="text-cyan mt2 mb1">Participants</h3>
    <div class="event-participants-container">
        <div class="row">
            <% if (userEvent.participants.length === 0) { %>
                <p class="text-left col-md-12"><i>Aucun participant pour le moment</i></p>
            <% } %>
            <% for (var i in userEvent.participants) { %>
                <div class="col-md-2">
                    <a href="<%= Routing.generate('colzak_user_homepage', { 'username': userEvent.participants[i].username }) %>">
                        <% if (userEvent.participants[i].photos.length > 0) { %>
                            <% for (var j in userEvent.participants[i].photos) { %>
                                <% if (userEvent.participants[i].photos[j].is_profile_picture) { %>
                                    <img src="<%= userEvent.participants[i].photos[j].thumb_path %>" alt="..." class="img-responsive">
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <% if (userEvent.participants[i].gender == 'MALE') { %>
                                <img src="/img/male.png" alt="..." class="img-responsive">
                            <% } else { %>
                                <img src="/img/female.png" alt="..." class="img-responsive">
                            <% } %>
                        <% } %>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</script>