<script type="text/template" id="clzk-search-pagination-template">
    <ul class="pagination">
        <% if (previousPage === null) { %>
            <li class="disabled">&laquo;</li>
        <% } else { %>
            <li><a href="#" data-page="<%= previousPage %>" class="paginator-page">&laquo;</li>
        <% } %>
        <% for (var i = 1; i <= totalPages; i++) { %>
            <li><a href="#" data-page="<%= i %>" class="paginator-page"><%= i %></a></li>
        <% } %>
        <% if (nextPage === null) { %>
            <li class="disabled">&raquo;</li>
        <% } else { %>
            <li><a href="#" data-page="<%= nextPage %>" class="paginator-page">&raquo;</li>
        <% } %>
    </ul>
</script>