<script type="text/template" id="clzk-public-place-template">
    <div class="panel panel-inverse mt2 search-info-panel">
        <div class="panel-heading">Connemara</div>
        <div class="panel-body">
            <p>blablabla</p>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-public-places-template">
    <h4 class="text-cyan text-center mb0 mt2">Un open stage ça vous branche ?</h4>
    <div id="public-places-container"></div>
    <p class="text-center"><a href="<%= Routing.generate('colzak_add_public_place') %>"><small>( Vous connaissez des lieux non répertoriés ? )</small></a></p>
</script>