<script type="text/template" id="clzk-search-event-template">
    test
</script>

<script type="text/template" id="clzk-search-event-empty-template">
    <p class="text-center">Aucun évènement à venir dans votre région</p>
</script>

<script type="text/template" id="clzk-search-events-template">
    <div id="clzk-search-event-container" class="clzk-events-container"></div>
</script>