{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title %}Buskeet | Inscription{% endblock %}
{% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %}

{% block body %}
<div class="clzk-login-register-container">
	<h2 class="mb0 text-cyan">Créer un compte</h2>
    <hr class="mb1 mt1">
    {{ render(controller('ColzakUserBundle:Registration:embeddedRegister')) }}
    <hr class="mb1 mt1">
    <p class="text-center"><button type="button" class="btn btn-primary btn-lg" id="register-button">Inscription</button></p>
    {#<p class="text-center">ou</p>
    <p class="text-center">
        <span>Connexion avec facebook</span>
        <div class="fb-login-button-container">
            <a href="#" onclick="fb_login();">
                <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
            </a>
        </div>
    </p>#}
</div>
{% endblock %}