{% extends 'ColzakUserBundle::layout.html.twig' %}

{% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        {{ render(controller('ColzakUserBundle:Registration:embeddedRegister')) }}
    </div>

    <div class="col-md-6">
        {{ render(controller('ColzakUserBundle:Security:embeddedLogin')) }}
    </div>
</div>
{% endblock %}