{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title %}Buskeet | Connexion{% endblock %}
{#% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %#}

{% block body %}
<div class="clzk-login-register-container">
    {{ render(controller('ColzakUserBundle:Security:embeddedLogin')) }}
</div>
{% endblock %}