body {
    padding-top: 60px;
}
.clzk-pre-body {
    min-height: 400px;
    border-bottom: 3px #ccc solid;
}
.clzk-home-container {
    position: relative;
    top: 100px;
}
.clzk-home-last-member {
    height: 200px;
    margin: 15px auto;
    border: 1px #ccc solid;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #222;
}
.glyphicon {
    top: 0;
}
.clzk-footer {
    background: #484E55;
}
.clzk-dropdown-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;
}
.clzk-profile-picture-container {
    text-align: center;
    margin-bottom: 30px;
}
.clzk-profile-picture-container img{
    width: 100%;
}
.clzk-profile-msg-btn-container {
    margin-bottom: 30px;
}
.list-group-item:hover {
    background: #3276b1;
    color: #FFF;
    cursor: pointer;
}
.clzk-region {
    position: relative;
}
.clzk-profile-portfolio-title {
    font-family: 'Euphoria Script', cursive;
    font-weight: bold;
}
.clzk-btn-empty {
    border: 2px #ddd solid;
}
.modal {
    z-index: 9000;
}
.modal-backdrop {
    z-index: 8990;
}​