body {
    padding-top: 45px;
}
#cookie-banner {
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    color: #FFF;
    width: 300px;
    right: 10px;
    border-radius: 5px;
    border: 1px #323232 solid;
}
.cookie-banner-content {
    background-color: #333;
    /*height: auto;*/
    padding: 10px;
    border-radius: 5px;
}
.buskeet_logo {
    position: relative;
    top: -26px;
}
.what-is-buskeet {
    background-color: #34495e;
    border-bottom: 3px solid #ccc;
}
.do-it-with-buskeet .glyphicon {
    margin-right: 30px;
    font-size: 20px;
    vertical-align: middle;
}
.clzk-pre-body {
    height: 90%;
    border-bottom: 3px #ccc solid;
    background: url(/img/cover1.png);
    background-size:100%;
    background-repeat: no-repeat;
    margin: -50px -15px auto -15px;
    background-position: 50%;
}
@media(max-width: 768px) {
    .clzk-pre-body {
        margin-top: -150px;
        margin-bottom: -160px;
    }
}
.glyphicon {
    top: 0;
}
.clzk-footer {
    background: #484E55;
}
.clzk-dropdown-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;
}
.clzk-profile-picture-container {
    text-align: center;
    margin-bottom: 30px;
}
.clzk-profile-picture-container img{
    width: 100%;
}
.clzk-profile-msg-btn-container {
    margin-bottom: 30px;
}
.list-group-item:hover {
    background: #3276b1;
    color: #FFF;
    cursor: pointer;
}
.clzk-region {
    position: relative;
}
.clzk-profile-portfolio-title {
    font-family: 'Euphoria Script', cursive;
    font-weight: bold;
}
.clzk-btn-empty {
    border: 2px #ddd solid;
}
.modal {
    z-index: 9000;
}
.modal-backdrop {
    z-index: 8990;
}​
.clzk-footer a, .clzk-footer a:hover {
    color: #FFF !important;
}
.clzk-home-geoloader {
    background: #FFF !important;
    border: none !important;
}