body {
    padding-top: 60px;
    background: #f7f7f7;
}

.clzk-pre-body, .clzk-body {
    min-height: 400px;
    border-bottom: 3px #ccc solid;
}

.clzk-home-container {
    position: relative;
    top: 100px;
}

.clzk-home-last-member {
    height: 200px;
    margin: 15px auto;
    border: 1px #ccc solid;
    padding-top: 15px;
    background: #fff;
}
.glyphicon {
    top: 0;
}

.clzk-footer {
    background: #484E55;
}

.clzk-dropdown-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;
}

.clzk-profile-picture-container {
    min-height: 256px;
    text-align: center;
    margin-bottom: 30px;
}

.clzk-profile-picture-container img{
    width: 100%;
}

.clzk-profile-msg-btn-container {
    margin-bottom: 30px;
}
#profile-portfolio-targets-results {
    display: none;
}