.clzk-search-menu-region-container {
	background: #222;
	border-right: 1px solid #555;
}

.clzk-search-menu-map {
	height: 180px;
	margin-bottom: 20px;
}

.clzk-results-number-container {
	background: none repeat scroll 0 0 #6aaca2;
    border-radius: 0 !important;
    font-size: 18px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
}

.clzk-search-profile-container {
    /*border-bottom: 1px #ddd solid;*/
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    background: #333;
    position: relative;
}
.clzk-search-profile-container:hover {
	background: #444;
	cursor: pointer;
	/*border-left: 3px #2980b9 solid;*/
}
.clzk-search-profile-container:hover .view-profile-btn-container {
	display: block;
}
.clzk-search-photo-container {
	float: left;
	margin-right: 20px;
}
.clzk-search-photo-container img {
	width: 220px;
	height: auto;
	overflow: hidden;
}
@media (max-width: 360px) {
	.clzk-search-photo-container img { width: 280px; }
}
.view-profile-btn-container {
	position: absolute;
	right: 10px;
	top: 35%;
	font-size: 40px;
	display: none;
}
.distance-container {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 15px;
	font-weight: bold;
}
.clzk-search-user-instruments {
    max-width: 55px;
    float: left;
    margin-right: 2px;
}
.clzk-search-switch-container {
	height: 40px;
	width: 100%;
}
.switch {
	padding: 7px;
	width: 50%;
	float: left;
	border: 1px #555 solid;
	background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	color: #333;
	cursor: pointer;
}
.active {
	background: #3498db;
	color: #FFF;
	font-weight: bold;
	cursor: default;
	opacity: 0.8;
}