.clzk-search-menu-region-container {
	background: #222;
	border-right: 1px solid #555;
	min-height: 100%;
	padding-top: 15px;
}
.clzk-search-results-region-container {
	padding-top: 15px;
}
.clzk-search-menu-map {
	height: 180px;
	margin-bottom: 20px;
}

.clzk-results-number-container {
	background: none repeat scroll 0 0 #6aaca2;
    border-radius: 0 !important;
    font-size: 18px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
}

.back-to-results {
	background: none repeat scroll 0 0 #6aaca2;
    border-radius: 0 !important;
    font-size: 18px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
}

.back-to-results a, .back-to-results a:hover, .back-to-results a:focus, .back-to-results a:visited {
	color: #FFF;
	text-decoration: none;
}

.clzk-search-profile-container, .event-container {
    /*border-bottom: 1px #ddd solid;*/
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    background: #333;
    position: relative;
}
.clzk-search-profile-container:hover, .event-container:hover {
	background: #444;
	cursor: pointer;
	/*border-left: 3px #2980b9 solid;*/
}
.clzk-search-profile-container:hover .view-btn-container, .event-container:hover .view-btn-container {
	display: block;
}
.clzk-search-photo-container {
	float: left;
	margin-right: 20px;
	width: 220px;
	height: 163px;
	overflow: hidden;
}
.clzk-search-photo-container img {
	width: 100%;
	overflow: hidden;
}
@media (max-width: 360px) {
	.clzk-search-photo-container img { width: 280px; }
}
.view-btn-container {
	position: absolute;
	right: 10px;
	top: 35%;
	font-size: 40px;
	display: none;
}
.distance-container {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 15px;
	font-weight: bold;
}
.clzk-search-user-instruments {
    max-width: 55px;
    float: left;
    margin-right: 25px;
}
.search-switch-container {
	width: 100%;
}
.search-switch {
	width: 50%;
}
.clzk-preview-container {
	display: none;
	padding-top: 15px;
}
.preview-map-container {
	width: 500px;
}
.rendering {
	background: #444;
	cursor: default !important;
}
.rendering .view-btn-container {
	display: block;
}
.share-action-button-container {
	font-size: 20px;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    z-index: 1;
}
.share-action-button-container:hover {
	color: #6aaca2;
}
.clzk-result-actions-container {
	margin: 20px auto;
	background: none;
	position: absolute;
	bottom: -70px;
	width: 100%;
	text-align: center;
}