/* 
COLORS:
    turquoise: #1abc9c;
    green-sea: #16a085;
    emerald: #2ecc71;
    nephritis: #27ae60;
    peter-river: #3498db;
    belize-hole: #2980b9;
    amethyst: #9b59b6;
    wisteria: #8e44ad;
    wet-asphalt: #34495e;
    midnight-blue: #2c3e50;
    sun-flower: #f1c40f;
    orange: #f39c12;
    carrot: #e67e22;
    pumpkin: #d35400;
    alizarin: #e74c3c;
    pomegranate: #c0392b;
    cloud: #ecf0f1;
    silver: #bdc3c7;
    concrete: #95a5a6;
    abestos: #7f8c8d;

    FLASHY
    Blue lagoon: #00c0ef;
    Cyan: #39cccc;
    Green: #5CB85C;
    Yellow: #f39c12;
    Red: #f56954;
    Purple: #932ab6;
    Purple dark: #85144b;

    PASTEL
    cyan-pastel: #6aaca2;
    green-pastel: #8aa876;
    Red-pastel: #be413b;
    yellow-pastel: #dfcca4;
*/
.bg-turquoise {
    background: #1abc9c;
}
.bg-emerald {
    background: #2ecc71;
}
.bg-peter-river {
    background: #3498db;
}
.bg-green-sea {
    background: #16a085;
}
.bg-belize-hole {
    background-color: #2980b9 !important;
}
.bg-nephritis {
    background: #27ae60;
}

.bg-blue {
    background-color: #00c0ef !important;
}
.bg-blue-pastel {
    background: #0073b7;
}
.bg-cyan {
    background: #39cccc;
}
.bg-cyan-pastel {
    background-color: #6aaca2 !important;
}
.bg-green {
    background: #5CB85C;
}
.bg-green-pastel {
    background: #8aa876;
}
.bg-yellow {
    background: #f39c12;
}
.bg-yellow-pastel {
    background-color: #dfcca4 !important;
}
.bg-red {
    background: #f56954;
}
.bg-red-pastel {
    background: #be413b;
}
.bg-purple {
    background: #932ab6;
}
.bg-purple-dark {
    background: #85144b;
}
.bg-dark {
    background: #222;
    border-radius: 5px;
    position: relative;
}

.border-green-sea {
    border-color: #16a085 !important;
}
.border-belize-hole {
    border-color: #2980b9 !important;
}
.border-midnight-blue {
    border-color: #2c3e50 !important;
}

.text-carrot {
    color: #e67e22;
}

.text-cyan {
    color: #6aaca2 !important;
}

/* PANEL */
.panel {
    border-radius: 0;
    background: #222;
    border: none;
    border-left: 1px solid;
}
.panel-body {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* NAVBAR */
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background: none;
    border-top: 2px #00c0ef solid;
    padding-top: 13px !important;
}
.navbar-brand {
    padding-left: 0;
    float: left !important;
    width: 0;
}

/* PROGRESS */
.progress {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #444;
    border-radius: 0;
    height: 10px;
    margin-bottom: 0;
    overflow: hidden;
}

/* MODAL */
.modal-content {
    border-radius: 0;
    background: #333;
    border: 1px #555 solid;
}
.modal-header {
    border-bottom: 0;
}
.modal-footer {
    border-top: 2px #00c0ef solid;
}
.close-carousel-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 10px;
    z-index: 1;
}

/* LISTGROUP */
.list-group-item {
    border: none;
    border-bottom: 1px dotted #555555;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    background: none;
    border-radius: 0 !important;
}
.list-group-item:first-child:hover {
    background: none !important;
}
.list-group-item:hover {
    background: #555 !important;
}

.list-group-item.active {
    background: #555 !important;
}

/* THUMBNAIL */
.thumbnail {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out 0s;
    padding:0;
}

/* FORM */
input {
    border-radius: 0 !important;
}
select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' style='fill:white;stroke:white;'/></svg>");
    background-color:#222;
    background-repeat:no-repeat;
    background-position: right 10px top 10px;
    background-size: 16px 16px;
    color:white;
    padding:7px;
    width:auto;
    font-family:arial,tahoma;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: window;
    border:0;
    outline:0;
    width: 100%;
    border-bottom: 1px #555 solid;
    border-radius: 0;
}

.clzk-moz-select:hover, select:hover {
    border-color: #CCC;
}

.clzk-moz-select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' style='fill:white;stroke:white;'/></svg>");
    background-color:#222;
    background-repeat:no-repeat;
    background-position: right 10px top 10px;
    background-size: 16px 16px;
    color:white;
    width:auto;
    font-family:arial,tahoma;
    font-size:16px;
    /*padding:7px;*/
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius:0;
    text-indent: 0.01px;
    text-overflow: '';
    border:0;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    width: 100%;
    border-bottom: 1px #555 solid;
    border-radius: 0;
    outline: none;
}
.clzk-blue-select {
    background-color: #3498db !important;
    border-bottom: none;
    padding: 5px;
}

.clzk-form-control, .clzk-input-group-addon {
    background: #222;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px #555 solid !important;
    box-shadow: none !important;
    color: #FFF;
}
.clzk-form-control .form-control {
    background: #222;
    border: none !important;
    border-bottom: 1px #555 solid !important;
}

.form-control:focus {
  border-color: #c0392b;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  font-style: italic;
}
.form-control::-webkit-input-placeholder {
  font-style: italic;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left:0; top: -3px;
  width: 30px; height: 25px;
  /*background: #DDDDDD;*/
  border: 1px #444 solid;
  transition: background-color .2s;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#3498db; 
  border: none;
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 2px; left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 5px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  content: "";
  left: 32px
}
[type="checkbox"]:checked + label .ui:after {
  content: "✓";
  color: #FFF;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}

/* BUTTON */
.btn {
    border-radius: 0 !important;
}
.btn-primary {
    background: #2980b9;
    border-color: #2980b9;
    color: #FFF !important;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #3498db;
    background-position: 0 -15px;
    border-color: #3498db;
}
.btn-primary:active,
.btn-primary.active {
    background: #3498db;
    border-color: #3498db;
    border-color: #3498db;
}

/* GENERAL */
.btn, .btn:focus, a, a:focus, select, select:focus, input, input:focus {
    outline: none;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* PAGINATION */
.pagination > li > a, .pagination > li > span {
    background-color: #333;
    border-color: #444;
    color: #fff;
}

.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #444;
    border-color: #444;
    color: #fff;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #444;
    border-color: #444;
}
..dropdown {
    top: -1px !important;
}
.dropdown-menu {
    background-color: #444;
}

.dropdown-menu > li > a {
    color: #FFF;
}
.input-group-addon {
    padding: 6px 3px;
}
.mm-menu > .nav > li > a:hover, .nav > li > a:focus {
    background: #444;
}
/* TO REMOVE LATER (test for little logo) */
.navbar-header {
    overflow: hidden;
}
blockquote {
    font-size: 15px;
}
cite {
    color: #BBB;
}