<script type="text/template" id="clzk-contact-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="login-modal-label">Envoyer un message à <%= profile.firstname %></h4>
    </div>

    <div class="modal-body">
        <textarea class="form-control clzk-form-control" id="message-content" placeholder="Entrez votre message" rows="6"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="send-message-button">Envoyer</button>
    </div>
</script>