<script type="text/template" id="clzk-profile-description-template">
    {% if targetUser == app.user %}
        <a href="#" class="pull-right edit-btn">[ modifier ]</a>
    {% endif %}
    <p class="text-center" id="profile-description"></p>
</script>

<script type="text/template" id="clzk-profile-description-form-template">
    <div class="modal-header">
        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>A propos de moi...</h1>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" row="5" id="profile-description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal-btn" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary save-modal-btn">Valider</button>
    </div>
</script>