<script type="text/template" id="clzk-profile-information-template">
    <a href="#" class="edit-btn">edit</a>
    <h1 class="text-left"><span id="profile-firstname"></span>&nbsp;<span id="profile-lastname"></span></h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <span>Ville: Bordeaux</span>
        </div>
        <div class="col-md-3">
            <span>Age: 25 ans</span>
        </div>
        <div class="col-md-3">
            <span>Expérience: Héro
        </div>
        <div class="col-md-3"></div>
    </div>
</script>