<script type="text/template" id="clzk-profile-event-template">
    <div class="event-container mb2">
        <% if (typeof userEvent.title !== 'undefined') { %>
            <div class="event-title-container">
                <h4 id="clzk-profile-event-title"></h4>
            </div>
        <% } %>
        <div class="col-md-2 col-sm-4 col-xs-6 col-xs-offset-3">
            <div class="calendar-container">
                <div class="calendar-month-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-month"></span></p>
                </div>
                <div class="calendar-day-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-day"></span></p>
                </div>
                <div class="calendar-year-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-year"></span></p>
                </div>
            </div>
            <div class="time-container">
                <p class="text-center mb0"><span id="clzk-profile-event-time"></span></p>
            </div>
        </div>
        <div class="visible-xs clearfix"></div>
        <div class="visible-xs mt1"></div>
        <div class="col-md-10 col-sm-8 col-xs-12">
            <div class="event-description-container">
                <p id="clzk-profile-event-content"></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="event-place-container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <p class="mt1"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;<%= completeAddress %></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <p class="mt1 text-right">
                        <a href="<%= Routing.generate('colzak_event', { 'eventId': userEvent.id }) %>">Voir</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-profile-event-empty-template">
    <p class="text-left">Rien de prévu pour le moment !</p>
</script>

<script type="text/template" id="clzk-profile-events-template">
    <h4 class="text-cyan">Jam session</h4>
    <div id="clzk-profile-events-container"></div>
</script>

<script type="text/template" id="clzk-profile-event-form-template">
    <a class="delete-event-button pull-right" href="#"><span class="glyphicon glyphicon-remove"></span></a>
    <div class="clearfix mb1"></div>
    <div class="event-container">
        <div class="event-title-container">
            <h4 id="clzk-profile-event-title"></h4>
        </div>
        <div class="col-md-2">
            <div class="calendar-container">
                <div class="calendar-month-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-month"></span></p>
                </div>
                <div class="calendar-day-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-day"></span></p>
                </div>
                <div class="calendar-year-container">
                    <p class="text-center mb0"><span id="clzk-profile-event-date-year"></span></p>
                </div>
            </div>
            <div class="time-container">
                <p class="text-center mb0"><span id="clzk-profile-event-time"></span></p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="event-description-container">
                <p id="clzk-profile-event-content"></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="event-place-container">
            <p class="mt1"><span class="glyphicon glyphicon-map-marker"></span> <%= completeAddress %></p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-3">
            <p> Du <span id="clzk-profile-event-start-date-input"></span><br>
                Au <span id="clzk-profile-event-end-date-input"></span>
            </p>
        </div>
        <div class="col-md-9">
            <h2 id="clzk-profile-event-title-input"></h2>
            <p id="clzk-profile-event-content-input"></p>
        </div>
    </div> -->
</script>

<script type="text/template" id="clzk-profile-events-form-template">
    <ul class="breadcrumb clzk-breadcrumb mb0">
        <li><a href="#" class="cancel-button">Mon profil</a></li>
        <li>Mes jam sessions</li>
    </ul>

    <div class="mt3 mb2">
        <a href="#" class="btn show-add-event-form-button"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Créer un jam session</a>
    </div>

    <div class="col-md-8 bg-dark hidden mb1" id="show-add-event-form">
        <div class="col-md-12">
            <div class="form-horizontal mt1">
                <div class="col-md-12">
                    <div class="input-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control clzk-form-control" id="new-event-title-input" placeholder="Nom">
                    </div>
                </div>
                <div class="clearfix mb1"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control clzk-form-control datepicker" id="new-event-date-input" placeholder="Date">
                        <span class="input-group-addon clzk-input-group-addon glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control clzk-form-control timepicker" id="new-event-time-input" placeholder="Heure">
                        <span class="input-group-addon clzk-input-group-addon glyphicon glyphicon-dashboard"></span>
                    </div>
                </div>
                <div class="clearfix mb1"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="input-group col-md-12 mb1 col-sm-12 col-xs-12">
                        <input type="text" class="form-control clzk-form-control" id="clzk-new-event-place-input" placeholder="Lieu">
                         <span class="input-group-addon clzk-input-group-addon glyphicon glyphicon-map-marker"></span>
                        <input type="hidden" id="clzk-new-event-street-number">
                        <input type="hidden" id="clzk-new-event-route">
                        <input type="hidden" id="clzk-new-event-city">
                        <input type="hidden" id="clzk-new-event-sublocality">
                        <input type="hidden" id="clzk-new-event-postal-code">
                        <input type="hidden" id="clzk-new-event-administrative-area-level-1">
                        <input type="hidden" id="clzk-new-event-administrative-area-level-2">
                        <input type="hidden" id="clzk-new-event-country">
                        <input type="hidden" id="clzk-new-event-lat">
                        <input type="hidden" id="clzk-new-event-lon">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="event-map-container" class="col-md-12 col-sm-12 col-xs-12">
                <div id="event-map"></div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-horizontal">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group col-md-12 mt1 mb1 col-sm-12 col-xs-12">
                        <textarea class="form-control clzk-form-control" rows="6" id="new-event-content-input" placeholder="Détail"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a class="add-event-button pull-right" href="#"><span class="glyphicon glyphicon-ok"></span> Ajouter</a>
            <a class="cancel-event-button pull-right" href="#"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
            <div class="clearfix mb1"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="clzk-profile-events-form-container"></div>
</script>