<script type="text/template" id="clzk-profile-message-template">
    <div class="clzk-profile-msg-btn-container">
        <a href="#" class="btn btn-block btn-primary btn-lg">Message</a>
    </div>
</script>