<script type="text/template" id="clzk-profile-portfolio-template">
    <div class="row">
        <div class="col-md-12">
            <div class="clzk-portfolio-instruments-container">
                <div class="row">
                    <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.portfolio_instruments.length > 0) { %>
                        <% for (var i in profile.portfolio.portfolio_instruments) { %>
                            <div class="col-md-4 mb1">
                                <img src="/img/instruments/<%= profile.portfolio.portfolio_instruments[i].category %>.png" class="img-responsive">
                                <p class="text-center"><%= translate(profile.portfolio.portfolio_instruments[i].name) %></p>
                                <div class="progress">
                                    <% if (profile.portfolio.portfolio_instruments[i].level == 'BEGINNER') { %>
                                        <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                    <% } %>
                                    <% if (profile.portfolio.portfolio_instruments[i].level == 'AMATEUR') { %>
                                        <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                        <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                    <% } %>
                                    <% if (profile.portfolio.portfolio_instruments[i].level == 'PROFESSIONAL') { %>
                                        <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                        <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                        <div class="progress-bar progress-bar-success" style="width: 34%"></div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="panel panel-inverse border-green-sea">
                <div class="panel-heading">
                    <h3 class="text-left mb0 mt0">Styles musicaux</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.music_styles.length > 0) { %>
                            <% for (var i in profile.portfolio.music_styles) { %>
                                <li><%= profile.portfolio.music_styles[i].name %></li>
                            <% } %>
                        <% } else { %>
                            <li>Non renseigné</li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="panel panel-inverse border-belize-hole">
                <div class="panel-heading">
                    <h3 class="text-left mb0 mt0">Influences</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.influences.length > 0) { %>
                            <% for (var i in profile.portfolio.influences) { %>
                                <li><%= profile.portfolio.influences[i].name %></li>
                            <% } %>
                        <% } else { %>
                            <li>Non renseigné</li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-profile-portfolio-form-template">
    <ul class="breadcrumb clzk-breadcrumb mb0">
        <li><a href="#" class="cancel-button">Mon profil</a></li>
        <li>Mon portfolio</li>
    </ul>

    <div class="row">
        <div class="col-md-8">
            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4 class="text-cyan">Mes compétences</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter une compétence</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <select id="clzk-portfolio-portfolio-instruments" class="form-control">
                                        <option value="">Choisissez un instrument</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <div class="clzk-moz-select">
                                        <select id="clzk-portfolio-portfolio-instruments-level">
                                            <option value="BEGINNER">Débutant</option>
                                            <option value="AMATEUR">Intermédiaire</option>
                                            <option value="PROFESSIONAL">Expert</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="portfolio-instrument"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.portfolio_instruments.length > 0) { %>
                                <% for (var i in profile.portfolio.portfolio_instruments) { %>
                                    <div class="clzk-portfolio-item-line">
                                        <div class="row mb1">
                                            <div class="col-md-2">
                                                <img src="/img/instruments/<%= profile.portfolio.portfolio_instruments[i].category %>.png" class="img-responsive">
                                            </div>
                                            <div class="col-md-4">
                                                <p class="clzk-center text-center"><%= translate(profile.portfolio.portfolio_instruments[i].name) %></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="clzk-center text-center"><%= translate(profile.portfolio.portfolio_instruments[i].level) %></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="clzk-center">
                                                    <a href="#" class="btn btn-block delete-portfolio-item-button" data-item="portfolio-instrument" data-index="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-8">
            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4 class="text-cyan">Mes styles musicaux</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter un style musical</p>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="clzk-portfolio-music-style" class="form-control clzk-form-control" placeholder="Type de musique">
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="music-style"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.music_styles.length > 0) { %>
                                <% for (var i in profile.portfolio.music_styles) { %>
                                    <div class="clzk-portfolio-item-line">
                                        <div class="row mb1">
                                            <div class="col-md-10">
                                                <p class="clzk-center"><%= profile.portfolio.music_styles[i].name %></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="clzk-center">
                                                    <a href="#" class="btn btn-block delete-portfolio-item-button" data-item="music-style" data-index="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-8 mb2">
            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4 class="text-cyan">Mes influences</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter une influence musicale</p>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="clzk-portfolio-influence" class="form-control clzk-form-control" placeholder="Nom">
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="influence"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% if (typeof profile.portfolio !== 'undefined' && profile.portfolio.influences.length > 0) { %>
                                <% for (var i in profile.portfolio.influences) { %>
                                    <div class="clzk-portfolio-item-line">
                                        <div class="row mb1">
                                            <div class="col-md-10">
                                                <p class="clzk-center"><%= profile.portfolio.influences[i].name %></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="clzk-center">
                                                    <a href="#" class="btn btn-block delete-portfolio-item-button" data-item="influence" data-index="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>