<script type="text/template" id="clzk-profile-picture-template">
    <div class="clzk-profile-picture-container">
        <img src="/img/user_256.png" alt="..." class="img-thumbnail clzk-profile-picture">
    </div>
</script>