<script type="text/template" id="clzk-profile-information-template">
    <h1 class="text-left"><span id="clzk-profile-firstname"></span>&nbsp;<span id="clzk-profile-lastname"></span></h1>
    <hr>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <span id="clzk-profile-locality"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <span id="clzk-profile-birthdate"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {% if targetUser == app.user %}
                <a href="#" class="pull-right edit-btn">[ modifier ]</a>
            {% endif %}
        </div>
    </div>
</script>

<script type="text/template" id="clzk-profile-information-form-template">
    <div class="modal-header">
        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>Mes informations</h1>
    </div>
    <div class="modal-body">

        {#} Address {#}
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-12 input-group">
                    <input type="text" class="form-control input-lg" id="clzk-profile-address-input" placeholder="Ville ou code postal">
                    <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                </div>
                <input type="hidden" id="clzk-profile-street-number">
                <input type="hidden" id="clzk-profile-route">
                <input type="hidden" id="clzk-profile-locality">
                <input type="hidden" id="clzk-profile-sublocality">
                <input type="hidden" id="clzk-profile-postal-code">
                <input type="hidden" id="clzk-profile-administrative-area-level-1">
                <input type="hidden" id="clzk-profile-administrative-area-level-2">
                <input type="hidden" id="clzk-profile-country">
                <input type="hidden" id="clzk-profile-lat">
                <input type="hidden" id="clzk-profile-lon">
            </div>
        </div>
        <div id="map"></div>
        <hr>

        {#} Birthdate {#}
        <div class="col-lg-12 input-group">
            <input type="text" class="form-control datepicker input-lg" id="clzk-profile-birthdate" placeholder="Date de naissance">
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal-btn" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary save-modal-btn">Valider</button>
    </div>
</script>