<script type="text/template" id="clzk-profile-portfolio-template">
    <div class="row">
        <div class="col-md-12">
            <div class="clzk-portfolio-instruments-container">
                <div class="row">
                    <% for (var i in portfolio.portfolio_instruments) { %>
                        <div class="col-md-4 mb1">
                            <img src="/img/instruments/<%= portfolio.portfolio_instruments[i].category %>.png" class="img-responsive">
                            <p class="text-center"><%= portfolio.portfolio_instruments[i].name %></p>
                            <div class="progress">
                                <% if (portfolio.portfolio_instruments[i].level == 'BEGINNER') { %>
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                <% } %>
                                <% if (portfolio.portfolio_instruments[i].level == 'AMATEUR') { %>
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                <% } %>
                                <% if (portfolio.portfolio_instruments[i].level == 'PROFESSIONAL') { %>
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                    <div class="progress-bar progress-bar-success" style="width: 34%"></div>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <% if (portfolio.music_styles.length > 0) { %>
                <div class="panel panel-inverse border-green-sea">
                    <div class="panel-heading">
                        <h3 class="text-left mb0 mt0">Styles musicaux</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <% for (var i in portfolio.music_styles) { %>
                                <li><%= portfolio.music_styles[i].name %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } %>

            <% if (portfolio.influences.length > 0) { %>
                <div class="panel panel-inverse border-belize-hole">
                    <div class="panel-heading">
                        <h3 class="text-left mb0 mt0">Influences</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <% for (var i in portfolio.influences) { %>
                                <li><%= portfolio.influences[i].name %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-profile-portfolio-form-template">
    <div class="row clzk-edit-header">
        <div class="col-md-6">
            <h1 class="text-left mt0 mb1">Mon portfolio</h1>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <a class="btn btn-default cancel-button" href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Retour</a>
                <a class="btn btn-primary save-button" href="#"><span class="glyphicon glyphicon-ok"></span>&nbsp;Enregistrer les modifications</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr class="mt0">
    </div>

    <div class="mt6"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4>Mes compétences</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter une compétence</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <select id="clzk-portfolio-portfolio-instruments" class="form-control">
                                        <option value="">Choisissez un instrument</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <div class="clzk-moz-select">
                                        <select id="clzk-portfolio-portfolio-instruments-level">
                                            <option value="BEGINNER">Débutant</option>
                                            <option value="AMATEUR">Amateur</option>
                                            <option value="PROFESSIONAL">Professionnel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="portfolio-instrument"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% for (var i in portfolio_instruments) { %>
                                <div class="row mb1">
                                    <div class="col-md-2">
                                        <img src="/img/instruments/<%= portfolio_instruments[i].category %>.png" class="img-responsive">
                                    </div>
                                    <div class="col-md-4">
                                        <p class="clzk-center text-center"><%= portfolio_instruments[i].name %></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="clzk-center text-center"><%= portfolio_instruments[i].level %></p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-block"><span class="glyphicon glyphicon-minus"></span></a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4>Mes styles musicaux</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter un style musical</p>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="clzk-portfolio-music-style" class="form-control clzk-form-control" placeholder="Type de musique">
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="music-style"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% for (var i in music_styles) { %>
                                <div class="row mb1">
                                    <div class="col-md-10">
                                        <p class="clzk-center"><%= music_styles[i].name %></p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-block"><span class="glyphicon glyphicon-minus"></span></a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal mt2 row">
                <div class="col-md-12">
                    <h4>Mes influences</h4>
                    <div class="bg-dark">
                        <div class="col-md-12 mb1 mt1">
                            <p>Ajouter une influence musicale</p>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" id="clzk-portfolio-influence" class="form-control clzk-form-control" placeholder="Nom">
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="add-portfolio-item-button btn btn-block" data-item="influence"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                            <div class="mb1"></div>
                            <% for (var i in influences) { %>
                                <div class="row mb1">
                                    <div class="col-md-10">
                                        <p class="clzk-center"><%= influences[i].name %></p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-block"><span class="glyphicon glyphicon-minus"></span></a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>