<script type="text/template" id="clzk-profile-photos-template">
    <% if (typeof profile_picture !== 'undefined') { %>
        <a data-toggle="modal" id="image-modal" href="#">
            <img src="<%= profile_picture.thumb_path %>" class="clzk-profile-picture">
        </a>
    <% } else { %>
        <% if (profile_gender == 'MALE') { %>
            <img src="/img/male.png" alt="..." class="clzk-profile-picture">
        <% } else { %>
            <img src="/img/female.png" alt="..." class="clzk-profile-picture">
        <% } %>
    <% } %>
</script>

<script type="text/template" id="clzk-profile-photos-carousel-template">
    <div id="clzk-profile-photos-carousel" class="carousel slide">
        <button type="button" class="close close-carousel-btn" data-dismiss="modal" aria-hidden="true">&times;</button>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <% for (var i in photos) { %>
                <div class="item <% if(photos[i].id === active_photo.id) { %> active<% } %>">
                    <img src="<%= photos[i].path %>" class="img-responsive"/>
                </div>
            <% } %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#clzk-profile-photos-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#clzk-profile-photos-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</script>

{#} Profile pictures form {#}
<script type="text/template" id="clzk-profile-photo-form-template">
    <div class="thumbnail-container">
        <div class="thumbnail">
            <img src="<%= photo.thumb_path %>" alt="..." class="clzk-profile-picture-form-img">
            <div class="caption">
                <button type="button" class="profile-picture-button btn btn-default btn-block <% if (typeof profile_photo !== 'undefined' && photo.id === profile_photo.id) { %> disabled <% } %>"><small>Photo de profil</small></button>
                <button type="button" class="profile-cover-picture-button btn btn-default btn-block <% if (typeof cover_photo !== 'undefined' && photo.id === cover_photo.id) { %> disabled <% } %>"><small>Photo de couverture</small></button>
                <button type="button" class="btn btn-danger delete-picture-button btn-block "><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="clzk-profile-photos-form-template">
    <h1>Modifier mes photos</h1>
    
    <div class="mt3 mb2">
        <a class="add-photos-button" href="#"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Ajouter des photos</a>
    </div>
    <div class="clzk-file-input btn-block hidden">
        <input id="fileUpload" name="photos" type="file" multiple>
    </div>

    <div id="photos-previews" class="row"></div>
    <hr class="photos-previews-separator hidden">

    <div class="row">
        <div id="profile-photos-form-container"></div>
        <div class="col-md-3 hidden" id="loading-photo-container">
            <div class="text-center">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
                <div class="caption">Téléchargement en cours...</div>
            </div>
        </div>
    </div>
</script>