<script type="text/template" id="clzk-profile-description-template">
    <a href="#" class="edit-btn">edit</a>
    <p class="text-center" id="profile-description">
        Bacon ipsum dolor sit amet turkey pig kevin sausage t-bone andouille ribeye, tail tongue bacon brisket fatback drumstick flank hamburger. Salami ball tip chicken t-bone, doner shank leberkas pork chop sausage turducken brisket boudin bresaola. Chuck prosciutto frankfurter pork loin ham hock strip steak. Short ribs capicola frankfurter venison pork, ground round meatloaf ribeye beef pork belly brisket.
    </p>
</script>

<script type="text/template" id="clzk-profile-description-form-template">
    <div class="modal-header">
        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>A propos de moi...</h1>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" row="5" id="profile-description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal-btn" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary save-modal-btn">Valider</button>
    </div>
</script>