<div class="row">
    {% for user in users %}
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="clzk-home-last-member row">
                <div class="col-md-6">
                    {% if user.photos|length > 0 %}
                        {% for photo in user.photos if photo.isProfilePicture %}
                            <img src="{{ photo.thumbPath }}" alt="..." class="img-thumbnail">
                        {% endfor %}
                    {% else %}
                        <img src="/img/user_128.png" alt="..." class="img-thumbnail">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h4 class="text-right">{{ [user.firstname, user.lastname]|join(' ') }}</h4>
                    <p class="text-right">age, {{ user.locality }}</p>
                    <p class="text-center">
                        {% for item in user.portfolio.portfolioInstruments %}
                            {% if loop.index <= 3 %}
                                <div class="clzk-home-user-instruments">
                                    <img src="{{ item.instrument.iconPath }}" class="img-responsive">
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clearfix"></div>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>